
<%
    let _nome ='';
    let _email ='';
    let _empresa ='';

    // check if user is logged in 
    if (user) {
        _nome =user.nome;
        _email =user.email;
    }
%>
    
<!-- CENTER IMAGE -->
<div class="container-fluid image-top"></div>

<!-- ALERTS -->
<div class="container-fluid alerts" id="html-alerts"></div> 

<!-- ALINHAMENTO DO CONTAINER -->
<div class="row h-100" >    <!-- LINHA -->
    
    <div class="col" style="border:0px solid red;"> </div>
    
    <div class="col" style="border:0px solid red;">  <!-- COLUNA -->

        <!--DIV CONTENT-->
        <div class="container" style="border:0px solid blue;">
            
            <!-- title-->
            <h1 class="text-center" id="title"><%= title %></h1>
            <br>
            <div class="row" style="height: 80px; background-color:#e6e6e6; ">
                <div class="col my-auto" >
                    <span id="descricao"><%= describe %></span>
                </div>
            </div>
            
            <!-- view email validation -->
            <div class="row h-100" style="display: none;" id="div-email">
                <div class="col mx-auto text-center" style="border:0px solid blue;">
                    <form id="frmEmailValidation">
                        <br>
                        <div class="form-group text-left">
                            <label for="email">Email </label>
                            <input type="email" class="form-control" id="email" placeholder="Informe o email cadastrado no sistema" required>
                        </div>
                        <br>
                        <hr>
                        <div class="text-left">
                            <button class="btn btn-success btn-lg w-50" type="submit"> Validar </button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- email confirmation  
            <div class="container" style="background-color:#e6f2ff; display: block;" id="div-message">
                
                <div style="">
                    <a class="navbar-brand" href="#">
                        <img src="/imagens/couples-therapy.svg" width="30" height="30" class="d-inline-block align-top" alt=""> 
                        <span style="font-size:15px;color:#944dff;"> -Depressão +Relacionamentos </span>
                    </a>                    
                </div>
                <br>
                <h1> Olá , <%= %> , </h1>
                
                <form method="post" action="http://localhost:3300/minhaconta/senhas/nova">
                    
                    <span> Clique no botão abaixo para ser redirecionado ao cadastramento de senha. </span>
                    <br>
                    <div class="text-center">
                        <button class="btn btn-success btn-lg w-50" type="submit" id="btnMessage"> Nova Senha </button>
                    </div>
                    
                    <div class="text-left">
                        <span> Não informe seus dados de acesso para outra pessoa</span>
                    </div>
                    <br>
                    <hr>
                    <div class="text-right">
                        <span> Equipe <%= %> </span>
                    </div>
                </form>
            </div>
            -->
            
            <!-- welcome email confirmation  -->
            <div class="container" style="display: none;" id="div-welcome">
                <header class="jumbotron">
                    <h3>
                        <strong>Email confirmado !</strong>
                    </h3>
                </header>
                <Link to="/login">
                    Please Login
                </Link>
            </div>
                                          
            <!-- view password update -->
            <div class="row h-100" style="display: none;" id="div-senhas">
                <div class="col mx-auto text-center" style="border:0px solid blue;">
                    <form id="frmPwdUpdate">
                        <br>
                        <div class="form-group">
                            <input class="form-control" type="email" name="fields" value=<%=_email%> disabled>
                        </div>
                        
                        <!-- ALTERAR -->
                        <% if( mode ==0 ) {  %>
                            <div class="form-group">
                                <input class="form-control" type="password" name="fields" id="pws1" placeholder="Senha atual" required>
                            </div>
                        <% } %>
                        
                        <div class="form-group">
                            <input class="form-control" type="password" name="fields" id="pws2" placeholder="Informe uma nova senha" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="fields" id="pws3" placeholder="Confirme a senha" required>
                        </div>
                        <div id="instructions" class="text-left">
                            <!-- <span>A senha precisa conter o seguinte:</span> -->
                            <br>
                            <span id="letter" class="invalid">  letra <b>minúscula</b>  </span>
                            <span id="capital" class="invalid">  letra <b>maiúscula</b>  </span>
                            <span id="number" class="invalid">  <b>número</b></p>
                            <span id="length" class="invalid">  Mínimo <b>8 characters</b></span>
                            <span id="compativel" class="invalid">  A senha informada <b>não é compatível</b></span>
                        </div>
                        <br>
                        <button class="btn btn-success btn-lg w-50" type="submit"> Confirmar </button>
                    </form>
                </div>
            </div>
            
            <input type="hidden" name="fields" id="mode" value=<%= mode %> > <!--  0=ALTERAR , 1=NOVA  -->
            
        </div>        
    </div>
    
    <div class="col" style="border:0px solid red;"> </div>
        
</div>


<!--
/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
</style>

<div class="container">
  <form action="/action_page.php">
    <label for="usrname">Username</label>
    <input type="text" id="usrname" name="usrname" required>

    <label for="psw">Password</label>
    <input type="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
    
    <input type="submit" value="Submit">
  </form>
</div>

<div id="message">
  <h3>Password must contain the following:</h3>
  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
  <p id="number" class="invalid">A <b>number</b></p>
  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div>

-->